.test{
  color: rgb(143, 19, 19);
}

.chartContainer{
    padding: 80px 40px 40px 40px;
  }

#map{
    /* sET SIZE OF DIV ELEMENT THAT CONTAINS THE MAP */
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
  /* background-color: grey; */
  }

.mainContainer {
    padding: 80px 40px 40px 40px;
  }

}
